@model ShoppingCart.Application.ViewModels.OrderDetailsViewModel

@{
    ViewData["Title"] = "OrderDetails";
}

<h1>OrderDetails</h1>

<div>
    <hr />
    @Html.Partial("OrderDetailsPartial", Model)
</div>