@{
    TempData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <h1 class="display-4"><b>Welcome to my beauty corner!</b></h1>
    <br />
    <br />
    <p>In products you can find a variety of makeup products, hair products and skin care.</p>
    <br />
    <p>If you have any you can just easily contact us and we will respond as soon as we can.Enjoy shopping!</p>
    <img src="~/Images/ep_makeup.jpg"  style="width:700px;height:500px;" />
</div>
