
@foreach (var OrderDetail in Model)
{

    <tr>
        <td>
            <img src="@OrderDetail.Product.ImageUrl" style="max-height:250px" />
            <br />
            @OrderDetail.Product.Name
        </td>
        <td>€@OrderDetail.Product.Price</td>
        <td>
            <input class="form-control" type="number" name="quantity" value=@OrderDetail.Quantity style="width: 50px " disabled>
        </td>
        @{
            double sellingPrice = OrderDetail.Product.Price * OrderDetail.Quantity;

        }
        <td>€@sellingPrice</td>
    </tr>
}
       